<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.Paises"
            android:label="@string/activityPaises">
        </activity>
        <activity
            android:name=".view.MuitoJusto"
            android:label="@string/activityPMuitoJusto" />
        <activity
            android:name=".view.Autonomia"
            android:label="@string/activityAutonomia" />
        <activity
            android:name=".view.Calculadora"
            android:label="@string/activityCalculadora" />
        <activity
            android:name=".view.PrecoJusto"
            android:label="@string/activityPJ" />
        <activity
            android:name=".view.CalcularMedia"
            android:label="@string/activityCalcularMedia" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>